/*---font.scss --*/
@font-face {
	font-family: 'Inter-ExtraBold';
	src: url(../fonts/Inter/inter-extrabold.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter-Bold';
	src: url(../fonts/Inter/inter-bold.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
  
@font-face {
	font-family: 'Inter-SemiBold';
	src: url(../fonts/Inter/inter-semibold.ttf);
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
  
@font-face {
	font-family: 'Inter-Regular';
	src: url(../fonts/Inter/inter-regular.ttf);
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/SF-Pro-Display/SFProDisplay-Black.eot);
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
        url(../fonts/SF-Pro-Display/SFProDisplay-Black.eot?#iefix) format('embedded-opentype'),
        url(../fonts/SF-Pro-Display/SFProDisplay-Black.woff2) format('woff2'),
        url(../fonts/SF-Pro-Display/SFProDisplay-Black.woff) format('woff'),
        url(../fonts/SF-Pro-Display/SFProDisplay-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

  
:root{
	--index: calc(1vw+1vh);
	--color-base: #F8E485;
	--color-green: #2EE600;
	--color-dark: #171717;
	--color-light: #FCFDCE;
	--color-text: #FAFAF9;
	--color-base-gradient: linear-gradient(90deg, #F8E485, #CDA452); /*2*/
	--color-border-gradient: linear-gradient(135deg, #F8E485, #F5E082, #E9CE73, #CDA452);/*3*/
	--color-active-gradient: linear-gradient(90deg, #FFF7B2, #FFDD2C);/*4*/
}

/*---------------- Template default CSS ------------------------*/

html,
body {
	height: 100%;
	color: var(--color-text);
	font-family: "Inter-Regular", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
html {	
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	top: 0;
  }
body {
	    background-color: blueviolet;
	min-width: 380px;
}
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: rgb(0, 0, 0) rgb(63, 63, 63);;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 7px;
	height: 7px;
  }
  
  *::-webkit-scrollbar-track {
	background: rgb(63, 63, 63);
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0);
	border-radius: 20px;
  }
*::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

*::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}



.title-section{
	font-size: 75px;
	line-height: 145px;
	font-family: 'SF Pro Display', sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	color: #ffffff;
    text-shadow: 3px 3px 50px #b0f;
}
.text-section {
    letter-spacing: 0.5px;
	color: #ffffff;
    text-shadow: 3px 3px 50px #b0f;
}



img {
	max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: var(--color-text);
}
ul, ol {
	padding: 0;
	margin: 0;
}  
li{
	list-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/*---------Base-------------*/
.container-fluid{
    width: 100%;
	max-width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
    margin: 0 auto;
}
.container{
		padding-top: 110px;	
		padding-bottom: 110px;
		padding-left: 140px;
}
.btn-dark,
.btn-light{
	border: 1px solid; 
	border-color: var(--color-base);
	border-radius: 50px;
	padding: 6px 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	margin-right: 45px;
    min-width: 175px;
}
.btn-dark:hover,
.btn-light{
	background: var(--color-base-gradient);	
	color: #000;	
	transition: all .2s ease-in-out;
}
.btn-dark,
.btn-light:hover{
	background: transparent;
	color: var(--color-text);
	transition: all .2s ease-in-out;
}
.fa{
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 26px;
	height: 26px;
}
.fa-fasebook{
	background-image: url(../img/facebook.svg);
}
.fa-instagram{
	background-image: url(../img/instagram.svg);
}
.fa-watsapp{
	background-image: url(../img/watsapp.svg);
}




/*---------- Header ------------*/
.title-section{
	font-size: 75px;
	line-height: 145px;
	font-family: 'SF Pro Display', sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	color: #ffffff;
    text-shadow: 3px 3px 50px #b0f;
}
.text-section {
    letter-spacing: 0.5px;
	color: #ffffff;
    text-shadow: 3px 3px 50px #b0f;
}

.offcanvas{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	z-index: 9;
	visibility: visible;
}
.sidenav-menu{
	padding-top: 30px;
}
.sidenav-item{
	font-size: 20px;
    line-height: 52px;
	border-bottom: 1px solid #999999;
	padding-left: 10px;
	transition: all .2s ease-in-out;
}
.sidenav-item:hover{
	background-color: #171717;
	color: #F8E485;
	padding-left: 20px;
	transition: all .2s ease-in-out;
}
.sidenav .offcanvas-head{
	padding-bottom: 15px;
}
.sidenav .offcanvas-head i{
	float: right;
    font-size: 26px;
	padding: 4px;
}
.sidenav .offcanvas-head i:hover{
	color: #F8E485;
    background-color: #171717;
    border-radius: 50px;
    	
}
.sidenav{
	display: block;
	visibility: hidden;
	opacity: 0;
	position: fixed;
    top: 0;
    left: -500px;
    background: #F8E485;
    color: #000;
    width: 300px;
    padding: 20px;
    height: 100vh;
	transition: all .3s ease-in-out;
	z-index: 99;
}
.open{
	display: block;
}
.sidenav.open{
	left: 0;
	visibility: visible;
	opacity: 1;
	transition: all .3s ease-in-out;
	box-shadow: 3px 0px 18px #000000;
}
#mobile-menu{
	display: none;
}

.header-section{
	position: relative;
}
.header-section .container-fluid{
	position: absolute;
	top:0;
	left: 50%;
    transform: translateX(-50%);
	background: rgba(0, 0, 0, .5);
	filter: blur(0.5);
	height: 80px;	
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header-section .container-fluid .box-control{
	display: flex;
	justify-content: end;
	align-items: center;
	width: 100%;
	/* padding-right: 10px; */
}
.header-section .container-fluid .box-control .btn-light{
	margin-right: 0;
}

.nav-menu .mainmenu {
	display: inline-block;
}
.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 45px;
	position: relative;
}
.nav-menu .mainmenu ul li:last-child {
	margin-right: 0;
}
.nav-menu .mainmenu ul li.active a {
	color: var(--color-base);
}.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}
.nav-menu .mainmenu ul li a {
	color: var(--color-text);
	font-size: 14px;
	text-decoration: none;	
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.3s;
	display: block;
	transition: all 0.3s;
}
.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: var(--color-base-gradient);
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-menu .mainmenu ul li:hover>a {
	color: var(--color-base);
}
.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.top-social {
	display: flex;
	width: 100%;
	max-width: 126px;
	justify-content: space-between;
	align-items: center;
	margin: 0 50px;
}
.top-social a {
	font-size: 26px;
	color: #ffffff;
}


.mobile-menu{
	display: none;
} 

/*------- Hero -------*/
.hero-section .container-fluid {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 786px;	
	position: relative;
    display: flex;
    align-items: center;
}

.form-section .title-section {
	color:#171717;
}


.hero-section .hero-content{
	position: relative;
	padding: 0 40px 85px 80px;
	margin-top: 100px;
}
.hero-section .hero-text{
	z-index: 1;
	position: relative;
	text-shadow: 0px 0px 0px #910aff;
}

.hero-section .hero-text .text-section{
	text-shadow: 0px 0px 12px #910aff;
}

.hero-section .hero-content .bg{
	position: absolute;
	z-index: 0;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	background-color: rgba(0, 0, 0, .15);	
	backdrop-filter: blur(5px);	
}
.hero-section .text-section{
	margin-bottom: 55px;
}

.hero-section .hero-text .text-section{
	text-shadow: 0px 0px 12px #910aff;
}


/*-------Feature---------*/

.feature-section .container-fluid{
	background-color: #171717;
	padding-left: 140px;
	padding-top: 110px;
	padding-bottom: 110px;
	padding-right: 0;
	overflow: hidden;
}
.feature-section .section-top{
	margin-bottom: 50px;
	/* padding-left: 140px; */
}
.feature-section .title-section{
	font-family: 'Inter-SemiBold';
	text-transform: none;
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	margin-bottom: 24px;
}
.feature-section .text-section{
	opacity: .65;
	letter-spacing: 0.5px;
	color: #EFEDE8;
}
.feature-section .feature-items{
    flex-wrap: nowrap;
}
/* .feature-section .feature-item:first-child{
	margin-left: 140px;
} */
.feature-section .feature-item{
	width: 304px;
	position: relative;
	height: 190px;
	background-color: #212121;
	padding: 52px 40px;
	border-radius: 5%;
	margin-right: 32px;
}
.feature-section .feature-item .title-block{
	font-size: 16px;
	line-height: 24px;
	color: var(--color-text);
}
.feature-section .feature-item .col-md-10 {
    padding-right: 0;
	width: 215px;
}
.feature-section .feature-item .txt-block{
	font-size: 14px;
	line-height: 24px;
	color: #EFEDE8;
	opacity: .65;
	letter-spacing: 0.3px;
}
.feature-section .feature-item .arrow-block{
	display: flex;
    align-items: center;
	padding-left: 0;
	cursor: pointer;
	padding: 0;
	width: 32px;
}
.feature-section .feature-item .arrow-block .arrow-btn{
	color: var(--color-text);
	font-size: 28px;
	text-decoration: none;	
    margin-top: 30px;
	cursor: pointer;
}

/*--------Video---------*/

.video-section .container-fluid{
	padding: 0;
	background-color: #171717;
	background-image: url(../img/video-img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 785px;	
	position: relative;
    display: flex;
    align-items: center;
	justify-content: center;
}
.video-section .btn-play{
	position: relative;
	display: block;
	padding: 44px;
	padding-left: 48px;
    padding-right: 40px;
    background: rgb(255 255 255 / 30%);
    border-radius: 100%;
	border: none;
	-webkit-animation: shake 2s infinite ease-in-out;
    animation: shake 2s infinite ease-in-out;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
	cursor: pointer;
	z-index: 1;
}
.video-section .btn-play img{
	width: 65px;
    height: 65px;
}
.video-section .movie{
	display: none;
}
.video-section .show{
	display: block;
}
.video-section .hidden{
	display: none;
}
.btn-play:after,
.btn-play:before {
    content: '';
    position: absolute;
	right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 100%;
    -webkit-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}
.btn-play:before {
    /* margin: auto 0 auto -32.5px; */
	left: -67px;
    top: -67px;
    height: 290px;
    width: 290px;
    opacity: .1;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.btn-play:after {
    /* margin: auto 0 auto -46px; */
	left: -34px;
    top: -34px;
    height: 220px;
    width: 220px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    opacity: .25;
}

@-webkit-keyframes shake {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-2px);
  }
  50% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-2px);
  }
}
@keyframes shake {
  0% {
     transform: translateX(0);
  }
  25% {
     transform: translateX(-2px);
  }
  50% {
     transform: translateX(0);
  }
  100% {
     transform: translateX(-2px);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*--------Price---------*/
.price-section .container-fluid{
	padding-right: 0;
	background-color: #171717;
	/* padding-left: 140px; */
	padding-left: 0;
	padding-top: 110px;
	padding-bottom: 110px;
	overflow: hidden;
}
.price-section .container-fluid .items-price{
	margin: 0;
	/* margin-right: -195px; */
	overflow: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
	padding-bottom: 30px;
}
.price-section .single-price-plan.active{
	background: var(--color-border-gradient); 
	margin-left: 140px;
}
.price-section .single-price-plan {
	width: 100%;
	max-width: 449px;
	background-color: #FCFDCE;
	color: #000;
	position: relative;
	padding: 30px;
	border-radius: 3%;
	margin-right: 60px;
}
.single-price-plan .title-plan{
	font-family: 'Inter-ExtraBold';
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.single-price-plan .price-plan{
	display: flex;
	align-items: end;
	margin-bottom: 20px;
}
.single-price-plan .price-plan .price{
	font-size: 48px;
	font-family: 'Inter-Bold';	
}
.single-price-plan .price-plan .month{
	font-size: 24px;
	font-family: 'Inter-Regular';
	line-height: 48px;
    margin-left: 5px;
	text-transform: uppercase;
}
.single-price-plan .features-plan{
	flex-wrap: nowrap;
	border: 2px solid rgba(0, 0, 0, .2);
	border-radius: 3%;
	padding: 20px 5px 15px;
	margin: 0;
}
.single-price-plan .features-plan .disciplina,
.single-price-plan .features-plan .timetable{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	list-style: none;
}
.single-price-plan .features-plan .timetable{
	font-weight: 400;
	text-transform: none;
}

/*--------Fragen---------*/

.fragen-section .container-fluid {
	background-image: url(../img/fragen.jpg);
	height: auto;
	padding-left: 140px;
	padding-top: 170px;
	padding-bottom: 175px;
}
.fragen-section  .hero-content {
	padding: 0;
	margin: 0;
}

/*--------Forma---------*/

.form-section .container-fluid{
	background: var(--color-border-gradient);
	color: #000;
	padding-left: 140px;
	padding-top: 110px;
	padding-bottom: 40px;
}
.form-section .title-section {
    line-height: 75px;
    margin-bottom: 20px;
	color:#171717;
}

.form-section .form-content{
	margin-bottom: 45px;
}

.form-fields form{
	width: 100%;
	 max-width: 494px;
}
.form-fields .form-control {
    background-color: transparent;
	border: 1px solid rgb(0 0 0 / 24%);
	padding: 0.45rem 0.75rem;
	color: #000;	
}
.form-fields #kontakt {
	background: url(../img/watsapp-black.svg) no-repeat scroll 12px 7px;
	padding-left: 42px;
}
.form-fields input::placeholder {
	color: #000;
	font-size: 16px;
	font-weight: 500 !important;
}

.item-field.place input::placeholder {
	opacity: .6;
}

.form-fields .item-field{
	position: relative;
}
.form-fields .form-label{
	font-size: 12px;
	line-height: 10px;
	font-weight: 100 !important;
	background-color: #F8E485;
	position: absolute;
	top: -5px;
	left: 12px;
	padding: 0 5px;
}
.form-fields .btn-light{
	background: #000;
	border:1px solid #000;
	color:#F8E485
}
.form-fields .btn-light:hover{
	background: transparent;
	color:#000;
	border:1px solid 
}


/*--------Footer---------*/

footer.header-section .container-fluid{
	background-color: #000;
	height: auto;
    padding-top: 44px;
    padding-bottom: 44px;	
}

.title-section {
    color: #F8E485;
    text-shadow: 0px 103px 35px #fff;
}





@media (min-width: 1120px){
	.title-section {
		font-size: 75px;
	}
}
@media (max-width: 1440px){
	.feature-section .feature-items{
		overflow: hidden;
		overflow-x: scroll;
		padding-bottom: 30px;
	}
	.video-section{
		position: relative;
		margin-top: -4px;
		margin-bottom: -2px;
		z-index: -1;
	}
}

@media (max-width: 1120px){
	.title-section {
		font-size: 6vw;		
	}
	.form-section{
		position: relative;
		margin-top: -2px;
	}
}
@media (max-width: 1024px){
	.nav-menu{
		display: none;
	}
	#mobile-menu{
		display: block;
		margin-left: 10px;
	}
	.top-social {
		margin: 0 35px;
	}	
}
@media (max-width: 921px){
	.video-section .container-fluid {
		height: 640px;
	}
}
@media (max-width: 768px){
	.container-fluid{
		padding-right: 30px;
		padding-left: 30px;
	}
	.container{
			padding-top: 60px;	
			padding-bottom: 60px;
			padding-left: 70px;
	}
	.video-section .container-fluid {
		height: 540px;
	}
	.fragen-section .container-fluid {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.form-section .container-fluid {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 90px;
	}	
	.btn-light {
		margin-right: 30px;
	}
	.btn-dark{
		margin-right: 0;
	}
}
@media (max-width: 640px){
	.hero-section .hero-content {
		padding: 0 35px;
	}
	.hero-section .btn-light{
		margin-bottom: 30px;
	}
}
@media (max-width: 580px){
	.top-social {
		margin: 0 20px;
	}
	.hero-section .container-fluid {
		height: 600px;
	}
	.hero-section .hero-content {
		padding: 0 20px;
	}
	.video-section .container-fluid {
		height: 400px;
	}
	
	.feature-section .title-section{
		font-size: 7vw;
	}
	.feature-section .container-fluid {
		padding-left: 60px;
	}
	.feature-section .section-top {
		padding-right: 60px;
	}
	.price-section .single-price-plan.active {
		margin-left: 60px;
	}
	.price-section .single-price-plan {
		margin-right: 30px;
	}
	.form-section .container-fluid .row{
		position: relative;
	}
	.form-section .container-fluid .col-sm-7{
		width: 100%;
	}
	.form-section .container-fluid .col-sm-5{
		width: 100%;
		position: absolute;
		right: 0;
		top: 42px;
		opacity: 0.25;
	}
	.form-section .container-fluid .form-img{
		display: flex;
		justify-content: end;
	}
	.form-section .container-fluid {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
@media (max-width: 480px){
	header.header-section .container-fluid .box-control{
		display: none;
	}
	.form-section .container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
	footer.header-section .container-fluid {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	footer.header-section .container-fluid .box-control .btn-light {
		display: none;
	}
}
@media (max-width: 380px){
	.price-section .single-price-plan {
		padding: 20px;
	}
}
